td ,tr{
   padding:2px;
   /* text-align:right; */
   border-spacing: 10px;
   
}
th{
   background-color: coral;
   padding:10px;
   border:1px solid black;
   color:white;
   text-align: center;
   
   
}
body{
   font-size: 15px;
}